{
  "name": "books",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "_dev/css/theme.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"assets/css/theme.css\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false},\"compiler-cssnext\":{\"enabled\":false}}"
    },
    {
      "path": "_dev/js/theme.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"assets/js/theme.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":false},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "_dev/js/_f1.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":true,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":false},\"outputSuffix\":\".min\"}"
    },
    {
      "path": "_dev/js/first.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":true,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":false},\"outputSuffix\":\".min\"}"
    },
    {
      "path": "_dev/css/_general.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":false,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compiler-cssnext\":{\"enabled\":true}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "assets/js",
      "_dev",
      "_dev/js"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "_dev/css/theme.scss",
      "imports": [
        "_dev/css/lib/_reset.scss",
        "_dev/css/lib/_colors_variables.scss",
        "_dev/css/lib/_mixin.scss",
        "_dev/css/_variables.scss",
        "_dev/css/_commons.scss",
        "_dev/css/templates/layouts/_layout-both-columns.scss",
        "_dev/css/templates/layouts/_layout-full-width.scss",
        "_dev/css/templates/layouts/_layout-left-side-column.scss",
        "_dev/css/templates/layouts/_layout-right-side-column.scss",
        "_dev/css/templates/_partials/_header.scss",
        "_dev/css/modules/ps_linklist/_linkblock.scss",
        "_dev/css/modules/ps_contactinfo/_nav.scss",
        "_dev/css/modules/ps_contactinfo/ps_contactinfo-rich.scss",
        "_dev/css/modules/contactform/_contactform.scss",
        "_dev/css/modules/ps_searchbar/_ps_searchbar.scss",
        "_dev/css/modules/ps_shoppingcart/_ps_shoppingcart.scss",
        "_dev/css/modules/ps_shoppingcart/modal.scss",
        "_dev/css/modules/ps_customersignin/_ps_customersignin.scss",
        "_dev/css/modules/ps_mainmenu/_ps_mainmenu.scss",
        "_dev/css/templates/_partials/_breadcrumb.scss",
        "_dev/css/modules/ps-imageslider/_ps_imageslider.scss",
        "_dev/css/modules/ps-featuredproducts/_ps_featuredproducts.scss",
        "_dev/css/templates/catalog/_partials/miniatures/_product.scss",
        "_dev/css/modules/ps_banner/_ps_banner.scss",
        "_dev/css/modules/ps_categorytree/_ps_categorytree.scss",
        "_dev/css/templates/catalog/listing/_category.scss",
        "_dev/css/templates/catalog/_partials/miniatures/_category.scss",
        "_dev/css/templates/catalog/_partials/_products-top.scss",
        "_dev/css/templates/catalog/_partials/_sort-orders.scss",
        "_dev/css/templates/catalog/_partials/_products.scss",
        "_dev/css/templates/_partials/_pagination.scss",
        "_dev/css/templates/catalog/_partials/_active-filters.scss",
        "_dev/css/templates/errors/_not-found.scss",
        "_dev/css/modules/ps_facetedsearch/_ps_facetedsearch.scss",
        "_dev/css/templates/catalog/_partials/_facets.scss",
        "_dev/css/templates/catalog/_product.scss",
        "_dev/css/templates/catalog/_partials/_product-cover-thumbnails.scss",
        "_dev/css/templates/catalog/_partials/_product-prices.scss",
        "_dev/css/templates/catalog/_partials/_product-variants.scss",
        "_dev/css/templates/catalog/_partials/_product-add-to-cart.scss",
        "_dev/css/modules/ps_sharebuttons/_ps_sharebuttons.scss",
        "_dev/css/templates/checkout/_cart.scss",
        "_dev/css/templates/checkout/_partials/_cart-detailed.scss",
        "_dev/css/templates/checkout/_partials/_cart-detailed-product-line.scss",
        "_dev/css/templates/checkout/_partials/_cart-summary-items-subtotal.scss",
        "_dev/css/templates/checkout/_partials/_cart-detailed-totals.scss",
        "_dev/css/modules/blockreassurance/_blockreassurance.scss",
        "_dev/css/templates/checkout/_checkout.scss",
        "_dev/css/templates/checkout/_partials/_cart-summary.scss",
        "_dev/css/templates/checkout/_checkout-process.scss",
        "_dev/css/templates/checkout/_partials/_cart-summary-product-line.scss",
        "_dev/css/templates/checkout/_partials/_cart-summary-totals.scss",
        "_dev/css/templates/checkout/_partials/_customer-form.scss",
        "_dev/css/templates/checkout/_partials/_header.scss",
        "_dev/css/templates/customer/_partials/_address-form.scss",
        "_dev/css/templates/customer/_my-account.scss",
        "_dev/css/templates/customer/_addresses.scss",
        "_dev/css/templates/customer/_partials/_block-address.scss",
        "_dev/css/templates/_partials/_form-errors.scss",
        "_dev/css/templates/customer/_partials/_customer-form.scss",
        "_dev/css/templates/customer/_authentication.scss",
        "_dev/css/templates/customer/_partials/_login-form.scss",
        "_dev/css/templates/_page.scss",
        "_dev/css/templates/_partials/_footer.scss",
        "_dev/css/templates/cms/_page.scss"
      ]
    },
    {
      "path": "_dev/js/theme.js",
      "imports": [
        "_dev/js/extends/mario_popup.js",
        "_dev/js/pruduct_tabs.js",
        "_dev/js/pruduct_filter.js",
        "_dev/js/blockcart-modal.js",
        "_dev/js/templates/catalog/_partials/product-cover-thumbnails.js",
        "_dev/js/link_add_cart.js",
        "_dev/js/cart.js",
        "_dev/js/add_foto_defolt.js",
        "_dev/js/modules/ps_categorytree/ps_categorytree.js",
        "_dev/js/templates/catalog/_partials/facets.js"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7881,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\",\"cssnext\"],\"autoCompile\":false,\"sourceMap\":true}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"],\"sourceMap\":true,\"outputSuffix\":\".min\",\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":false}}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "hoist_funs": true,
      "keep_fargs": false,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "side_effects": true,
      "pure_getters": false,
      "negate_iife": true,
      "screw_ie8": false,
      "drop_console": false,
      "angular": false,
      "warnings": false,
      "pure_funcs": [],
      "global_defs": []
    },
    "output": {
      "quote_keys": false,
      "space_colon": true,
      "ascii_only": false,
      "unescape_regexps": false,
      "inline_script": false,
      "beautify": false,
      "bracketize": false,
      "semicolons": true,
      "comments": false,
      "preserve_line": false,
      "screw_ie8": false
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}