.modules--ps_customersignin--_ps_customersignin{
  display: table;
  .icon{
    display: inline-block;
    max-height: 2rem;
    max-width: 2rem;
    vertical-align: middle;
    margin-right: .5rem;
  }
  .logout{
    display: inline-block;
    margin-right: 1rem;
    font-weight: normal;
  }
  .account{
  }

}