.modules--ps_searchbar {
  form {
    //display: inline-block;
    //vertical-align: middle;
    margin-top: 3rem;
  & > *  {
      float: left;
      display: table;
    }
  }
  input[type='text'] {
    @extend %border;
    margin-right: 1rem;
    height: 3.9rem;
    padding: 0 1rem;
    font-size: 1.6rem;
    width: 60%;

  }
}